@* ============================================
    FICHIER : Views/Societe/Details.cshtml
    DESCRIPTION : Affiche les détails d'une société
    ============================================ *@

@model GestSoutenance.Models.Societe

@{
    ViewData["Title"] = "Détails Société";
}

<h1>Détails de la Société</h1>

<hr />

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Lib</h5>

        <dl class="row">
            <dt class="col-sm-4">ID :</dt>
            <dd class="col-sm-8">@Model.ID</dd>

            <dt class="col-sm-4">Nom :</dt>
            <dd class="col-sm-8">@Model.Lib</dd>

            <dt class="col-sm-4">Adresse :</dt>
            <dd class="col-sm-8">@Model.Adresse</dd>

            <dt class="col-sm-4">Téléphone :</dt>
            <dd class="col-sm-8">@Model.Tel</dd>
        </dl>
    </div>
</div>

<br />

<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Modifier</a>
<a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
