@* ============================================
    FICHIER : Views/Enseignant/Details.cshtml
    DESCRIPTION : Affiche les détails d'un enseignant
    ============================================ *@

@model GestSoutenance.Models.Enseignant

@{
    ViewData["Title"] = "Détails Enseignant";
}

<h1>Détails de l'Enseignant</h1>

<hr />

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.NomComplet</h5>

        <dl class="row">
            <dt class="col-sm-5">ID :</dt>
            <dd class="col-sm-7">@Model.ID</dd>

            <dt class="col-sm-5">Nom :</dt>
            <dd class="col-sm-7">@Model.Nom</dd>

            <dt class="col-sm-5">Prénom :</dt>
            <dd class="col-sm-7">@Model.Prenom</dd>
        </dl>
    </div>
</div>

<br />

<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Modifier</a>
<a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
